n8n/WF-10.json
{
  "name": "TKTL WF-10 Google Drive Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "10a10000-0000-4000-8000-000000000001",
      "name": "Webhook Drive Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        240
      ],
      "webhookId": "drive-sync"
    },
    {
      "parameters": {
        "url": "https://bdttccztjtrcaztjgkot.supabase.co/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkdHRjY3p0anRyY2F6dGpna290Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0Nzc3MDAsImV4cCI6MjA5ODA1MzcwMH0.27_xCRuqqW1wUGtLzMYac0YFlG8aOMO5Mem5LZCbZI8"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        240
      ],
      "id": "10a10000-0000-4000-8000-000000000002",
      "name": "🔐 Verify JWT",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "config-allowed-base-path",
              "name": "allowed_base_path",
              "value": "/files/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "10a10000-0000-4000-8000-000000000003",
      "name": "CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook Drive Sync').first().json;\nconst verifiedUser = $('🔐 Verify JWT').first().json;\nconst body = request.body || {};\nconst headers = request.headers || {};\nconst allowedBasePath = String($json.allowed_base_path || '/files/');\nconst filePath = typeof body.file_path === 'string' ? body.file_path.trim() : '';\nconst bodyToken = typeof body.user_token === 'string' ? body.user_token.trim() : '';\nconst authHeader = String(headers.authorization || headers.Authorization || '').trim();\nconst normalizedBodyToken = bodyToken.startsWith('Bearer ') ? bodyToken : 'Bearer ' + bodyToken;\n\nif (!filePath || !bodyToken) {\n  return [{ json: { error: true, status: 400, message: 'Thiếu file_path hoặc user_token' } }];\n}\n\nif (!authHeader || authHeader !== normalizedBodyToken) {\n  return [{ json: { error: true, status: 401, message: 'user_token không khớp Authorization header đã xác thực' } }];\n}\n\nif (!verifiedUser.id) {\n  return [{ json: { error: true, status: 401, message: 'Không lấy được user.id từ Verify JWT' } }];\n}\n\nconst relativePath = filePath.startsWith(allowedBasePath)\n  ? filePath.slice(allowedBasePath.length)\n  : '';\nconst pathSegments = relativePath.split('/');\nconst forbiddenGlobChars = ['*', '?', '[', ']', '{', '}', '!'];\nconst hasForbiddenGlob = forbiddenGlobChars.some((char) => relativePath.includes(char));\n\nif (\n  !relativePath ||\n  filePath.length > 1024 ||\n  pathSegments.includes('..') ||\n  relativePath.includes('\\\\') ||\n  relativePath.includes('\\u0000') ||\n  hasForbiddenGlob\n) {\n  return [{ json: { error: true, status: 400, message: 'file_path phải là tệp cụ thể bên trong /files/ và không được chứa path traversal hoặc glob' } }];\n}\n\nconst fileName = pathSegments[pathSegments.length - 1];\nif (!fileName || fileName === '.' || fileName === '..') {\n  return [{ json: { error: true, status: 400, message: 'file_path không chứa tên tệp hợp lệ' } }];\n}\n\nreturn [{ json: { error: false, user_id: verifiedUser.id, file_path: filePath, file_name: fileName } }];"
      },
      "id": "10a10000-0000-4000-8000-000000000004",
      "name": "Parse + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "input-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10a10000-0000-4000-8000-000000000005",
      "name": "Input Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        336
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.file_path }}",
        "options": {
          "dataPropertyName": "data",
          "fileName": "={{ $json.file_name }}"
        }
      },
      "id": "10a10000-0000-4000-8000-000000000006",
      "name": "Read Local File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        480,
        432
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "authentication": "serviceAccount",
        "inputDataFieldName": "data",
        "name": "={{ $('Parse + Validate').first().json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "10a10000-0000-4000-8000-000000000007",
      "name": "Google Drive: Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        432
      ],
      "credentials": {
        "googleApi": {
          "id": "uqbMxdAY6BDmg4Ez",
          "name": "kết nối google"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "sync-triggered-by",
              "name": "triggered_by",
              "value": "={{ $('🔐 Verify JWT').first().json.id }}",
              "type": "string"
            },
            {
              "id": "sync-file-path",
              "name": "file_path",
              "value": "={{ $('Parse + Validate').first().json.file_path }}",
              "type": "string"
            },
            {
              "id": "sync-drive-file-id",
              "name": "drive_file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "sync-status",
              "name": "status",
              "value": "synced",
              "type": "string"
            },
            {
              "id": "sync-synced-at",
              "name": "synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "10a10000-0000-4000-8000-000000000008",
      "name": "Prepare Sync Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bdttccztjtrcaztjgkot.supabase.co/rest/v1/drive_sync_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Webhook Drive Sync').first().json.headers.authorization }}"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkdHRjY3p0anRyY2F6dGpna290Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0Nzc3MDAsImV4cCI6MjA5ODA1MzcwMH0.27_xCRuqqW1wUGtLzMYac0YFlG8aOMO5Mem5LZCbZI8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ triggered_by: $json.triggered_by, file_path: $json.file_path, drive_file_id: $json.drive_file_id, status: 'synced', synced_at: $json.synced_at }) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "10a10000-0000-4000-8000-000000000009",
      "name": "REST: Insert Sync Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        432
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, drive_file_id: $('Prepare Sync Log').first().json.drive_file_id, synced_at: $('Prepare Sync Log').first().json.synced_at }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "10a10000-0000-4000-8000-000000000010",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, status: 401, message: 'Xác thực thất bại: token không hợp lệ hoặc đã hết hạn' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ],
      "id": "10a10000-0000-4000-8000-000000000011",
      "name": "Auth 401"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst detail = raw.error?.message || raw.message || 'Không thể đọc tệp';\nreturn [{ json: { error: true, status: 422, message: 'Không thể đọc tệp cục bộ: ' + detail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        144
      ],
      "id": "10a10000-0000-4000-8000-000000000012",
      "name": "File Error"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst detail = raw.error?.message || raw.message || 'Google Drive từ chối yêu cầu';\nreturn [{ json: { error: true, status: 502, message: 'Đồng bộ Google Drive thất bại: ' + detail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        144
      ],
      "id": "10a10000-0000-4000-8000-000000000013",
      "name": "Drive Error"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst detail = raw.error?.message || raw.message || 'Supabase REST từ chối yêu cầu';\nreturn [{ json: { error: true, status: 502, message: 'Tệp đã lên Drive nhưng không ghi được drive_sync_log: ' + detail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        144
      ],
      "id": "10a10000-0000-4000-8000-000000000014",
      "name": "Log Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "10a10000-0000-4000-8000-000000000015",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Drive Sync": {
      "main": [
        [
          {
            "node": "🔐 Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Verify JWT": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Parse + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validate": {
      "main": [
        [
          {
            "node": "Input Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Local File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File": {
      "main": [
        [
          {
            "node": "Google Drive: Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Upload": {
      "main": [
        [
          {
            "node": "Prepare Sync Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sync Log": {
      "main": [
        [
          {
            "node": "REST: Insert Sync Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REST: Insert Sync Log": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth 401": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "10a10000-0000-4000-8000-000000000016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "tags": []
}
