n8n/workflows/TKTL-WF-06-document-search.json
{
  "_crave_meta": {
    "schemaVersion": 1,
    "workflowNumber": "06",
    "provenance": {
      "source": "n8n live qua MCP get_workflow_details (read-only)",
      "capturedAt": "2026-06-29",
      "liveWorkflowId": "o4fuUanxRrD7qQoG",
      "graphSource": "activeVersion",
      "priorLocalFileStatus": "untracked; không có commit/PR provenance",
      "credentialBindingNote": "n8n MCP đã sanitize trường credentials; binding trong export được phục hồi từ source repo/loại node và inventory credential đã phê duyệt, không được coi là live-verified."
    },
    "liveState": {
      "published": true,
      "draftVersionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
      "activeVersionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
      "draftPublishedDrift": false,
      "createdAt": "2026-06-24T05:49:27.413Z",
      "updatedAt": "2026-06-27T11:28:21.768Z"
    },
    "redactions": [
      "Giá trị header apikey Supabase -> __REDACTED_SUPABASE_ANON_KEY__"
    ],
    "credentialBindings": [
      {
        "node": "PG: Search Documents",
        "type": "postgres",
        "name": "GMP-check",
        "id": "0WcJFXEhwLXQhJmn",
        "evidence": "preexisting-untracked-binding-plus-live-node-match",
        "liveMcpBindingVisible": false
      }
    ]
  },
  "id": "o4fuUanxRrD7qQoG",
  "name": "TKTL WF-06 Document Search",
  "active": false,
  "versionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-docs",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "deba5dfd-31d4-4d9e-9023-3e5924aa5dfd",
      "name": "Webhook Search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        144
      ],
      "webhookId": "search-docs"
    },
    {
      "parameters": {
        "jsCode": "// Parse + decode JWT + build search SQL\nconst headers = $('Webhook Search').first().json.headers || {};\nconst body = $('Webhook Search').first().json.body || {};\n\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst token = authHeader.replace('Bearer ', '');\n\nif (!token) {\n  return [{ json: { error: true, message: 'Thiếu token xác thực', status: 401 } }];\n}\n\nlet userId = null;\ntry {\n  const payload = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());\n  userId = payload.sub;\n  if (!userId) throw new Error('Không có user ID');\n} catch (e) {\n  return [{ json: { error: true, message: 'Token không hợp lệ', status: 401 } }];\n}\n\n// Build WHERE clauses\nlet conditions = [];\n\n// Mặc định ẩn superseded/archived\nif (body.include_superseded !== true) {\n  conditions.push(\"status NOT IN ('superseded', 'archived')\");\n}\n\nif (body.document_type) conditions.push(`document_type = '${body.document_type}'::document_type`);\nif (body.source_type) conditions.push(`source_type = '${body.source_type}'::source_type`);\nif (body.language_code) conditions.push(`language_code = '${body.language_code}'::language_code`);\nif (body.status) conditions.push(`status = '${body.status}'::document_status`);\nif (body.equipment_type) conditions.push(`equipment_type = '${body.equipment_type.replace(/'/g, \"''\")}'`);\nif (body.equipment_code) conditions.push(`equipment_code = '${body.equipment_code.replace(/'/g, \"''\")}'`);\nif (body.owner_department) conditions.push(`owner_department = '${body.owner_department.replace(/'/g, \"''\")}'`);\nif (body.translation_status) conditions.push(`translation_status = '${body.translation_status}'::translation_status`);\n\n// Keyword search\nif (body.keyword) {\n  const kw = body.keyword.replace(/'/g, \"''\");\n  conditions.push(`(document_code ILIKE '%${kw}%' OR document_title ILIKE '%${kw}%')`);\n}\n\nconst whereClause = conditions.length > 0 ? 'WHERE ' + conditions.join(' AND ') : '';\nconst limit = Math.min(Math.max(parseInt(body.limit) || 50, 1), 100);\nconst offset = Math.max(parseInt(body.offset) || 0, 0);\n\nconst sql = `SELECT id, document_group_id, document_code, document_title, document_type, language_code, source_type, version, status, approved_for_ai_use, translation_status, is_ai_translated, owner_department, equipment_type, equipment_code, file_name, file_hash, page_count, chunk_count, uploaded_at, reviewed_at, approved_at, effective_date FROM documents ${whereClause} ORDER BY document_code ASC, version DESC LIMIT ${limit} OFFSET ${offset};`;\n\nconst countSql = `SELECT count(*) as total FROM documents ${whereClause};`;\n\nreturn [{ json: { error: false, search_sql: sql, count_sql: countSql, filters: body, limit, offset } }];"
      },
      "id": "7d706687-463a-4834-93b0-08348156274c",
      "name": "Parse + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "975ea077-25b2-4c4f-8824-1ebe7eeac87b",
      "name": "OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "dc4fee2b-5ba8-48dc-9217-3cb64fa0c79b",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        768,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('Parse + Build SQL').first().json.search_sql }}",
        "options": {}
      },
      "id": "0ca46a9c-72b4-4710-8d95-6960c4b4d325",
      "name": "PG: Search Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "0WcJFXEhwLXQhJmn",
          "name": "GMP-check"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docs = $input.all().map(item => item.json);\nconst meta = $('Parse + Build SQL').first().json;\n\n// Nếu query trả rỗng, docs[0] có thể là object rỗng\nconst validDocs = docs.filter(d => d.id);\n\nreturn [{ json: {\n  success: true,\n  documents: validDocs,\n  total_count: validDocs.length,\n  limit: meta.limit,\n  offset: meta.offset,\n  filters_applied: meta.filters\n}}];"
      },
      "id": "41203190-76cf-44e0-8b2d-0b9438d2eb5f",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a121cf29-aab1-4b36-9f66-db0d5703e357",
      "name": "Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://bdttccztjtrcaztjgkot.supabase.co/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            },
            {
              "name": "apikey",
              "value": "__REDACTED_SUPABASE_ANON_KEY__"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        144
      ],
      "id": "763fc2fe-140e-45ed-80cd-3ab5463d4394",
      "name": "🔐 Verify JWT",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, status: 401, message: 'Xác thực thất bại: token không hợp lệ hoặc đã hết hạn' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "d4265bb5-98a1-44f3-b7a0-f90074b8b015",
      "name": "Auth 401"
    }
  ],
  "connections": {
    "Webhook Search": {
      "main": [
        [
          {
            "node": "🔐 Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Build SQL": {
      "main": [
        [
          {
            "node": "OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OK?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG: Search Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Search Documents": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Verify JWT": {
      "main": [
        [
          {
            "node": "Parse + Build SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth 401": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
