n8n/workflows/TKTL-WF-06-document-search.json
{
  "_crave_meta": {
    "schemaVersion": 1,
    "workflowNumber": "06",
    "provenance": {
      "source": "R01-A03 local source refactor từ activeVersion đã capture read-only",
      "capturedAt": "2026-06-29",
      "liveWorkflowId": "o4fuUanxRrD7qQoG",
      "graphSource": "activeVersion",
      "priorLocalFileStatus": "untracked; không có commit/PR provenance",
      "credentialBindingNote": "R01-A03 loại bỏ hoàn toàn Postgres credential khỏi WF-06; HTTP Supabase dùng placeholder anon key trong source và bearer JWT người dùng ở runtime."
    },
    "liveState": {
      "published": true,
      "draftVersionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
      "activeVersionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
      "draftPublishedDrift": false,
      "createdAt": "2026-06-24T05:49:27.413Z",
      "updatedAt": "2026-06-27T11:28:21.768Z"
    },
    "targetState": {
      "sourceOnly": true,
      "migrationDependency": "024_secure_document_search_boundary",
      "databasePath": "PostgREST /rest/v1/rpc/search_documents_v1",
      "authorizationBoundary": "Bearer JWT người dùng + SECURITY INVOKER + documents RLS",
      "corsAllowedOrigin": "https://tienhoandhd-droid.github.io",
      "liveMutationAuthorized": false
    },
    "redactions": [
      "Giá trị header apikey Supabase -> __REDACTED_SUPABASE_ANON_KEY__"
    ],
    "credentialBindings": []
  },
  "id": "o4fuUanxRrD7qQoG",
  "name": "TKTL WF-06 Document Search",
  "active": false,
  "versionId": "f7b7ee5a-870b-446d-9a1e-e06ff1f4fe22",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-docs",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://tienhoandhd-droid.github.io"
        }
      },
      "id": "deba5dfd-31d4-4d9e-9023-3e5924aa5dfd",
      "name": "Webhook Search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        144
      ],
      "webhookId": "search-docs"
    },
    {
      "parameters": {
        "url": "https://bdttccztjtrcaztjgkot.supabase.co/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            },
            {
              "name": "apikey",
              "value": "__REDACTED_SUPABASE_ANON_KEY__"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        144
      ],
      "id": "763fc2fe-140e-45ed-80cd-3ab5463d4394",
      "name": "🔐 Verify JWT",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// R01-A03: Verify JWT đã hoàn tất ở node trước. Không decode JWT và không dựng SQL.\nconst request = $('Webhook Search').first().json;\nconst verifiedUser = $('🔐 Verify JWT').first().json;\nconst headers = request.headers || {};\nconst body = request.body || {};\nconst authHeader = String(headers.authorization || headers.Authorization || '').trim();\n\nconst fail = (message, status = 400) => [{ json: { error: true, status, message } }];\nconst textFilter = (value, name, maxLength) => {\n  if (value === undefined || value === null || value === '') return null;\n  if (typeof value !== 'string') throw new Error(name + ' phải là chuỗi');\n  const normalized = value.trim();\n  if (!normalized) return null;\n  if (normalized.length > maxLength) throw new Error(name + ' vượt quá ' + maxLength + ' ký tự');\n  return normalized;\n};\nconst enumFilter = (value, name) => {\n  const normalized = textFilter(value, name, 50);\n  if (normalized !== null && !/^[a-z][a-z0-9_]{0,49}$/.test(normalized)) {\n    throw new Error(name + ' không đúng định dạng enum');\n  }\n  return normalized;\n};\n\nif (!verifiedUser.id) return fail('Không lấy được user.id từ bước xác thực', 401);\nif (!/^Bearer\\s+\\S+$/i.test(authHeader)) return fail('Thiếu Authorization Bearer hợp lệ', 401);\n\nlet keyword;\nlet equipmentType;\nlet equipmentCode;\nlet ownerDepartment;\nlet documentType;\nlet sourceType;\nlet languageCode;\nlet status;\nlet translationStatus;\ntry {\n  keyword = textFilter(body.keyword, 'keyword', 200);\n  equipmentType = textFilter(body.equipment_type, 'equipment_type', 100);\n  equipmentCode = textFilter(body.equipment_code, 'equipment_code', 100);\n  ownerDepartment = textFilter(body.owner_department, 'owner_department', 100);\n  documentType = enumFilter(body.document_type, 'document_type');\n  sourceType = enumFilter(body.source_type, 'source_type');\n  languageCode = enumFilter(body.language_code, 'language_code');\n  status = enumFilter(body.status, 'status');\n  translationStatus = enumFilter(body.translation_status, 'translation_status');\n} catch (error) {\n  return fail(error.message, 400);\n}\n\nif (body.include_superseded !== undefined && typeof body.include_superseded !== 'boolean') {\n  return fail('include_superseded phải là boolean');\n}\nconst limit = body.limit === undefined ? 50 : body.limit;\nconst offset = body.offset === undefined ? 0 : body.offset;\nif (!Number.isInteger(limit) || limit < 1 || limit > 100) return fail('limit phải là số nguyên trong khoảng 1..100');\nif (!Number.isInteger(offset) || offset < 0 || offset > 10000) return fail('offset phải là số nguyên trong khoảng 0..10000');\n\nconst rpcBody = {\n  p_keyword: keyword,\n  p_document_type: documentType,\n  p_source_type: sourceType,\n  p_language_code: languageCode,\n  p_status: status,\n  p_equipment_type: equipmentType,\n  p_equipment_code: equipmentCode,\n  p_owner_department: ownerDepartment,\n  p_translation_status: translationStatus,\n  p_include_superseded: body.include_superseded === true,\n  p_limit: limit,\n  p_offset: offset\n};\n\nreturn [{\n  json: {\n    error: false,\n    verified_user_id: String(verifiedUser.id),\n    authorization: authHeader.replace(/^bearer\\s+/i, 'Bearer '),\n    rpc_body: rpcBody,\n    filters_applied: rpcBody\n  }\n}];"
      },
      "id": "7d706687-463a-4834-93b0-08348156274c",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "975ea077-25b2-4c4f-8824-1ebe7eeac87b",
      "name": "Validation Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bdttccztjtrcaztjgkot.supabase.co/rest/v1/rpc/search_documents_v1",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Validate Request').first().json.authorization }}"
            },
            {
              "name": "apikey",
              "value": "__REDACTED_SUPABASE_ANON_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rpc_body) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "0ca46a9c-72b4-4710-8d95-6960c4b4d325",
      "name": "PostgREST: search_documents_v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        288
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet payload = raw && raw.body !== undefined ? raw.body : raw;\nif (typeof payload === 'string') {\n  try { payload = JSON.parse(payload); } catch { payload = null; }\n}\nif (Array.isArray(payload) && payload.length === 1) payload = payload[0];\n\nif (!payload || typeof payload !== 'object' || !Array.isArray(payload.documents)) {\n  return [{ json: { error: true, status: 502, message: 'Phản hồi RPC không đúng contract' } }];\n}\n\nconst allowedFields = [\n  'id', 'document_group_id', 'document_code', 'document_title', 'document_type',\n  'language_code', 'source_type', 'version', 'status', 'approved_for_ai_use',\n  'translation_status', 'is_ai_translated', 'owner_department', 'equipment_type',\n  'equipment_code', 'file_name', 'file_hash', 'page_count', 'chunk_count',\n  'uploaded_at', 'reviewed_at', 'approved_at', 'effective_date'\n];\nconst documents = payload.documents.map((document) => {\n  const sanitized = {};\n  for (const field of allowedFields) {\n    if (Object.prototype.hasOwnProperty.call(document || {}, field)) sanitized[field] = document[field];\n  }\n  return sanitized;\n});\nconst totalCount = Number(payload.total_count);\nconst limit = Number(payload.limit);\nconst offset = Number(payload.offset);\nif (!Number.isInteger(totalCount) || totalCount < 0 || !Number.isInteger(limit) || !Number.isInteger(offset)) {\n  return [{ json: { error: true, status: 502, message: 'Metadata phân trang RPC không đúng contract' } }];\n}\n\nreturn [{ json: {\n  error: false,\n  success: true,\n  documents,\n  total_count: totalCount,\n  limit,\n  offset,\n  filters_applied: $('Validate Request').first().json.filters_applied\n} }];"
      },
      "id": "41203190-76cf-44e0-8b2d-0b9438d2eb5f",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json || {};\nconst candidate = Number(error.statusCode || error.httpCode || error.status || error.cause?.statusCode || 0);\nconst status = [400, 401, 403].includes(candidate) ? candidate : 502;\nconst message = status === 401\n  ? 'JWT không hợp lệ hoặc đã hết hạn'\n  : status === 403\n    ? 'Không có quyền tìm kiếm tài liệu theo yêu cầu'\n    : status === 400\n      ? 'Bộ lọc tìm kiếm không hợp lệ'\n      : 'Dịch vụ tìm kiếm tài liệu tạm thời không khả dụng';\nreturn [{ json: { error: true, status, message } }];"
      },
      "id": "e1b4ec51-8625-4c7a-b85c-024000000006",
      "name": "RPC Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2d4ec51-8625-4c7a-b85c-024000000006",
      "name": "Response Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1216,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": "={{ $json.status || 400 }}"
        }
      },
      "id": "dc4fee2b-5ba8-48dc-9217-3cb64fa0c79b",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a121cf29-aab1-4b36-9f66-db0d5703e357",
      "name": "Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, status: 401, message: 'Xác thực thất bại: token không hợp lệ hoặc đã hết hạn' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "d4265bb5-98a1-44f3-b7a0-f90074b8b015",
      "name": "Auth 401"
    }
  ],
  "connections": {
    "Webhook Search": {
      "main": [
        [
          {
            "node": "🔐 Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Verify JWT": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Validation Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgREST: search_documents_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgREST: search_documents_v1": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Response Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC Error": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error?": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth 401": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
